<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the login page!!!</title>
  </head>
  <body>
    {{> header}}

    <p>Hey there!! this is the login page!</p>
    <a href='/'></a>

    {{> footer}}
  </body>
</html>
